<footer id="footer">
	<div class="container">
		<p class="pull-right">&copy; <%= Date.current.year %> law-wenda.com</p>
		<ul class="pull-left horizontal">
			<li><a href="#"><%= t('layout.opensource') %></a></li>
			<li class="muted"> | </li>
			<li><a href="mailto:kekestudio@163.com"><%= t('layout.contact_us') %></a></li>
		</ul>
	</div>
</footer>