<header id="header">
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">
					<span class="icon-wenda"></span>
					<span><%= t('layout.wenda') %></span>
				</a>
				<div class="nav-collapse collapse">
					<%= render_user_bar %>
				</div>
			</div>
		</div>
	</div>
</header>