@import "0.variables";
@import "twitter/bootstrap";
//@import "bootstrap-responsive";
//@import "bootstrap/responsive-utilities";
//@import "bootstrap/responsive-768px-979px";
//@import "bootstrap/responsive-767px-max";

/* mixins */

/* main */

@import "1.base";
@import "2.layout";
@import "3.states";
@import "4.themes";

/* modules */

@import "modules/user-bar";

@import "modules/list";
@import "modules/form";
@import "modules/icons";

@import "modules/brand";
@import "modules/jumbotron";

body { color: #333; padding-top: 60px;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
.group { margin-bottom:20px; }
.group h2 { font-size:12px; margin-bottom:8px; }
.group ul { margin:0 20px;}

table tr.deleted td { text-decoration: line-through; color:#999}