<div id="#flash">
  <% flash.each do |key, value| %>
  <div class="alert <%= flash_class(key) %>" title="<%= key.to_s.humanize %>">
    <%= render_close_icon %>
    <div><%= value %></div>
  </div>
  <% end %>
</div>
