<ul class="user-bar pull-right">
  <li><%= current_user.login %></li>
  <li>
    <%= link_to destroy_user_session_path, :method => :delete do %>
      <i class="icon-off"></i>
    <% end %>
  </li>
</ul>